.edit-car-container h2 {
  text-transform: capitalize;
  color: rgb(240, 231, 231);
  margin: 10px;
}
.price-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 10px;
}
.price-edit-form-container {
  padding: 10px;
  box-shadow: 0 5px 10px 0 rgba(14, 13, 13, 0.2);
}
.old-price,
.new-price {
  display: flex;
  flex-direction: column;
  margin: 10px 2px 2px 2px;
}
