.header-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(88, 161, 88);
}
.account {
  display: flex;
  padding: 10px;
  margin: 10px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.create-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.account-form-container {
  display: flex;
  flex-direction: column;
}
.account-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.auto-mart-logo {
  display: flex;
  text-transform: capitalize;
  margin-top: 50px;
}
.name {
  display: flex;
}
.email-account {
  display: flex;
  flex-direction: column;
}
.password-account {
  display: flex;
}
.submit-account {
  display: flex;
  flex-direction: column;
}
.submit-account button {
  font-size: 16px;
  font-weight: bold;
}
.goto-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-transform: capitalize;
}
.goto-signin a {
  text-decoration: none;
}
@media all and (max-width: 600px) {
  .name {
    display: flex;
    flex-direction: column;
  }
  .password-account {
    display: flex;
    flex-direction: column;
  }
}
